function Main.init 0
call Float.init 0
pop temp 0
call Angle.init 0
pop temp 0
call AsteroidSpawner.init 0
pop temp 0
call Explosion.init 0
pop temp 0
push constant 512
pop static 0
push constant 256
pop static 1
push constant 10
pop static 2
push constant 0
return
function Main.main 15
call Main.init 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push static 0
push constant 1
sub
push static 1
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 75
pop local 7
push constant 0
pop local 8
call AsteroidSpawner.new 0
pop local 10
push constant 3
call String.new 1
push constant 46
call String.appendChar 2
push constant 55
call String.appendChar 2
push constant 53
call String.appendChar 2
call Float.new1 1
pop local 1
push constant 3
call String.new 1
push constant 46
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 53
call String.appendChar 2
call Float.new1 1
pop local 2
push constant 3
call String.new 1
push constant 46
call String.appendChar 2
push constant 57
call String.appendChar 2
push constant 53
call String.appendChar 2
call Float.new1 1
pop local 3
push constant 2
call String.new 1
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
call Float.new1 1
pop local 4
push constant 5
pop local 5
push constant 0
pop local 6
push static 0
push constant 2
call Math.divide 2
push constant 1
sub
push static 1
push constant 2
call Math.divide 2
push constant 1
sub
push local 1
push local 3
push local 4
push local 10
call Ship.new 6
pop local 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 13
push constant 1
call String.new 1
push constant 48
call String.appendChar 2
pop local 14
push constant 0
pop local 12
push constant 0
pop local 11
label WHILE_EXP0
push local 12
not
push local 11
push constant 0
eq
not
or
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 9
push local 6
push constant 1
sub
pop local 6
push local 8
push constant 1
sub
pop local 8
push local 12
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 9
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 2
call Ship.rotateBack 2
pop temp 0
label IF_FALSE1
push local 9
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 2
call Ship.rotate 2
pop temp 0
label IF_FALSE2
push local 9
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Ship.accelerate 1
pop temp 0
label IF_FALSE3
push local 9
push constant 32
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 6
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Ship.fire 1
pop temp 0
push local 5
pop local 6
label IF_FALSE5
label IF_FALSE4
push local 8
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 10
call AsteroidSpawner.spawnAsteroid 1
pop temp 0
push local 7
pop local 8
label IF_FALSE6
push local 0
call Ship.move 1
pop temp 0
push local 0
call Ship.draw 1
pop temp 0
label IF_FALSE0
push local 10
call AsteroidSpawner.moveAstroids 1
pop temp 0
push local 10
call AsteroidSpawner.drawAsteroids 1
pop temp 0
push local 10
push local 0
call Ship.getX 1
push local 0
call Ship.getY 1
call AsteroidSpawner.hasBeenHit 3
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 12
push local 0
call Ship.erasePrev 1
pop temp 0
push local 0
call Ship.getX 1
push local 0
call Ship.getY 1
call Explosion.new 2
pop local 11
label IF_FALSE7
push local 12
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 11
push constant 0
eq
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 11
call Explosion.move 1
pop temp 0
push local 11
call Explosion.draw 1
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
pop local 11
label IF_FALSE10
label IF_FALSE9
label IF_FALSE8
push local 0
call Ship.getScore 1
push local 13
push local 14
call Main.printScore 3
pop temp 0
push static 2
call Sys.wait 1
pop temp 0
push local 12
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 23
call Sys.wait 1
pop temp 0
label IF_FALSE11
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Main.printScore 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
push argument 1
call Output.printString 1
pop temp 0
push argument 0
push constant 1000
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
call Output.printString 1
pop temp 0
label IF_FALSE0
push argument 0
push constant 100
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 2
call Output.printString 1
pop temp 0
label IF_FALSE1
push argument 0
push constant 10
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 2
call Output.printString 1
pop temp 0
label IF_FALSE2
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.fx 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push static 0
push constant 1
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 0
push constant 1
sub
return
label IF_FALSE1
push argument 0
return
function Main.fy 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push static 1
push constant 1
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
push constant 1
sub
return
label IF_FALSE1
push argument 0
return
function Main.fx1 0
push argument 0
push argument 1
sub
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
return
label IF_FALSE0
push argument 0
push argument 1
add
push static 0
push constant 1
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 0
push constant 1
sub
push argument 1
sub
return
label IF_FALSE1
push argument 0
return
function Main.fy1 0
push argument 0
push argument 1
sub
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
return
label IF_FALSE0
push argument 0
push argument 1
add
push static 1
push constant 1
sub
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 1
push constant 1
sub
push argument 1
sub
return
label IF_FALSE1
push argument 0
return
function Main.copyArr 2
push argument 1
call Array.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 1
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push argument 2
push local 1
push argument 0
add
pop pointer 1
push that 0
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Main.getScreenWidth 0
push static 0
return
function Main.getScreenHeight 0
push static 1
return
