function Ship.new 12
push constant 13
call Memory.alloc 1
pop pointer 0
push constant 4
call Float.new 1
pop local 0
push constant 16
call Float.new 1
pop local 1
push constant 12
call Float.new 1
pop local 2
push constant 16
call Float.new 1
pop local 3
call Angle.new 0
pop local 8
push constant 5
call String.new 1
push constant 51
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 50
call String.appendChar 2
call Float.new1 1
pop local 4
push local 8
push local 4
call Angle.rotate 2
pop temp 0
call Angle.new 0
pop local 9
push constant 3
call String.new 1
push constant 50
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 53
call String.appendChar 2
call Float.new1 1
pop local 5
push local 9
push local 5
call Angle.rotate 2
pop temp 0
call Angle.new 0
pop local 10
push constant 1
call String.new 1
push constant 48
call String.appendChar 2
call Float.new1 1
pop local 6
push local 10
push local 6
call Angle.rotate 2
pop temp 0
call Angle.new 0
pop local 11
push constant 4
call String.new 1
push constant 45
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 53
call String.appendChar 2
call Float.new1 1
pop local 7
push local 11
push local 7
call Angle.rotate 2
pop temp 0
push argument 4
pop this 5
push constant 1
pop this 7
push constant 0
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push local 2
pop this 6
push argument 0
push argument 1
push local 0
push local 8
push local 1
push local 9
push local 2
push local 10
push local 3
push local 11
call RotatablePoly4.new 10
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push constant 0
call Float.new 1
pop this 3
push constant 0
call Float.new 1
pop this 4
push argument 5
pop this 12
push constant 0
pop this 8
push local 4
call Float.dispose 1
pop temp 0
push local 5
call Float.dispose 1
pop temp 0
push local 6
call Float.dispose 1
pop temp 0
push local 7
call Float.dispose 1
pop temp 0
push pointer 0
return
function Ship.dispose 0
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ship.getX 0
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.getX 1
return
function Ship.getY 0
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.getY 1
return
function Ship.getScore 0
push argument 0
pop pointer 0
push this 8
return
function Ship.move 0
push argument 0
pop pointer 0
push this 3
push this 2
call Float.mult 2
pop temp 0
push this 4
push this 2
call Float.mult 2
pop temp 0
push this 0
push this 3
push this 4
call RotatablePoly4.move 3
pop temp 0
push this 9
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
call Bullet.move 1
pop temp 0
push this 12
push this 9
call Bullet.getX 1
push this 9
call Bullet.getY 1
call AsteroidSpawner.hasBeenHit 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 9
call Bullet.erasePrev 1
pop temp 0
push this 9
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 9
push this 8
push constant 1
add
pop this 8
label IF_FALSE1
label IF_FALSE0
push this 10
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
call Bullet.move 1
pop temp 0
push this 12
push this 10
call Bullet.getX 1
push this 10
call Bullet.getY 1
call AsteroidSpawner.hasBeenHit 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 10
call Bullet.erasePrev 1
pop temp 0
push this 10
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 10
push this 8
push constant 1
add
pop this 8
label IF_FALSE3
label IF_FALSE2
push this 11
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 11
call Bullet.move 1
pop temp 0
push this 12
push this 11
call Bullet.getX 1
push this 11
call Bullet.getY 1
call AsteroidSpawner.hasBeenHit 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 11
call Bullet.erasePrev 1
pop temp 0
push this 11
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 11
push this 8
push constant 1
add
pop this 8
label IF_FALSE5
label IF_FALSE4
push pointer 0
call Ship.checkBounds 1
pop temp 0
push constant 0
return
function Ship.accelerate 2
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.getAngle 1
call Float.cos 1
pop local 0
push this 0
call RotatablePoly4.getAngle 1
call Float.sin 1
pop local 1
push local 0
push this 1
call Float.mult 2
pop temp 0
push local 1
push this 1
call Float.mult 2
pop temp 0
push this 3
push local 0
call Float.add 2
pop temp 0
push this 4
push local 1
call Float.add 2
pop temp 0
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push constant 0
return
function Ship.rotate 0
push argument 0
pop pointer 0
push this 0
push argument 1
call RotatablePoly4.rotate 2
pop temp 0
push constant 0
return
function Ship.rotateBack 0
push argument 0
pop pointer 0
push this 0
push argument 1
call RotatablePoly4.rotateBack 2
pop temp 0
push constant 0
return
function Ship.fire 6
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.getAngle 1
call Float.cos 1
pop local 0
push this 0
call RotatablePoly4.getAngle 1
call Float.sin 1
pop local 1
push local 0
push this 6
call Float.mult 2
pop temp 0
push local 1
push this 6
call Float.mult 2
pop temp 0
push this 0
call RotatablePoly4.getX 1
pop local 2
push this 0
call RotatablePoly4.getY 1
pop local 3
push local 2
call Float.toInt 1
push local 0
call Float.toInt 1
add
pop local 4
push local 3
call Float.toInt 1
push local 1
call Float.toInt 1
add
pop local 5
push local 4
push this 7
sub
push constant 0
lt
push local 5
push this 7
sub
push constant 0
lt
or
push local 4
push this 7
add
call Main.getScreenWidth 0
push constant 1
sub
gt
or
push local 5
push this 7
add
call Main.getScreenHeight 0
push constant 1
sub
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 9
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push local 5
push this 7
push this 5
push this 0
call RotatablePoly4.getAngle 1
call Bullet.new 5
pop this 9
goto IF_END1
label IF_FALSE1
push this 10
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 4
push local 5
push this 7
push this 5
push this 0
call RotatablePoly4.getAngle 1
call Bullet.new 5
pop this 10
goto IF_END2
label IF_FALSE2
push this 11
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 4
push local 5
push this 7
push this 5
push this 0
call RotatablePoly4.getAngle 1
call Bullet.new 5
pop this 11
label IF_FALSE3
label IF_END2
label IF_END1
push local 0
call Float.dispose 1
pop temp 0
push local 1
call Float.dispose 1
pop temp 0
push constant 0
return
function Ship.draw 0
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.draw 1
pop temp 0
push this 9
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
call Bullet.inBounds 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 9
call Bullet.draw 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 9
call Bullet.erasePrev 1
pop temp 0
push this 9
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 9
label IF_END1
label IF_FALSE0
push this 10
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 10
call Bullet.inBounds 1
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 10
call Bullet.draw 1
pop temp 0
goto IF_END3
label IF_FALSE3
push this 10
call Bullet.erasePrev 1
pop temp 0
push this 10
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 10
label IF_END3
label IF_FALSE2
push this 11
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 11
call Bullet.inBounds 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 11
call Bullet.draw 1
pop temp 0
goto IF_END5
label IF_FALSE5
push this 11
call Bullet.erasePrev 1
pop temp 0
push this 11
call Bullet.dispose 1
pop temp 0
push constant 0
pop this 11
label IF_END5
label IF_FALSE4
push constant 0
return
function Ship.erasePrev 0
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.erasePrev 1
pop temp 0
push constant 0
return
function Ship.checkBounds 6
push argument 0
pop pointer 0
push this 0
call RotatablePoly4.getX 1
pop local 0
push local 0
call Float.toInt 1
pop local 4
push this 0
call RotatablePoly4.getY 1
pop local 1
push local 1
call Float.toInt 1
pop local 5
call Main.getScreenWidth 0
call Float.new 1
pop local 2
call Main.getScreenHeight 0
call Float.new 1
pop local 3
push local 4
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 2
call Float.add 2
pop temp 0
label IF_FALSE0
push local 5
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 3
call Float.add 2
pop temp 0
label IF_FALSE1
push local 4
call Main.getScreenWidth 0
push constant 1
sub
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push local 2
call Float.sub 2
pop temp 0
label IF_FALSE2
push local 5
call Main.getScreenHeight 0
push constant 1
sub
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push local 3
call Float.sub 2
pop temp 0
label IF_FALSE3
push local 2
call Float.dispose 1
pop temp 0
push local 3
call Float.dispose 1
pop temp 0
push constant 0
return
